:root{
	--mainColor:#bb3c3c;
	--secondaryColor:#752b2b;

	--borderColor:#472525;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(32, 21, 21, 0.8);
	--previewShadow:#582323;


	--buttonColor:#c91c1c;


}
